{% extends 'base.html' %}
{% block title %}Обо мне ♑{% endblock %}
{% block content %}
	<main>
		<div class="container marketing">
    	<hr class="featurette-divider">
	    	<div class="row featurette">
	      		<div class="col-md-7 order-md-2">
			        <h2 class="featurette-heading fw-normal lh-1">Ссылки на социальные сети:</h2>
			        <ol>
			        	<li>Telegram: <a href="https://t.me/boh_ya">https://t.me/boh_ya</a></li>
			        	<li>GitHub: <a href="https://github.com/BohdanTerskow1998">https://github.com/BohdanTerskow1998</a></li>
			        	<li>LinkedIn: <a href="https://www.linkedin.com/in/bohdan-terskow-177b79227/">https://www.linkedin.com/in/bohdan-terskow-177b79227/</a></li>
			        </ol>
	      		</div>
	      		<div class="col-md-5 order-md-1">
	        		<img src="/static/img/face.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" alt="Фото Богдана">
	      		</div>
	    	</div>
	  	</div>
	</main>
{% endblock %}