{% extends 'base.html' %}
{% block title %}Добро пожаловать 🔰{% endblock %}
{% block content %}
	<div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Меценатить</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$1 мне. Зачем?</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>потому что я, хороший;</li>
          <li>очень-очень мало ем;</li>
          <li>охраняю окружающую среду;</li>
          <li>люблю детишек.</li>
        </ul>
        <a href="https://paywall.pw/bohdan_terskow" type="button" class="w-100 btn btn-lg btn-outline-primary">Перейти к оплате</a>
      </div>
    </div>
{% endblock %}